<div class="w3-container">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-blue">Crear
        Empleado</button>

    <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container ">
                <div class="propiedades">
                    <span onclick="document.getElementById('id01').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
                    <div class="container-fluid ancho">
                        <h1>Crear Empleado</h1>
                        <label>Nombres: </label>
                        <input class="inp" type="text" placeholder="Nombres" #NombreEmpleado >
                        <br>
                        <label>Apellidos: </label>
                        <input class="inp" type="text" placeholder="Apellidos" #ApellidoEmpleado >
                        <br>
                        <label>Cargo: </label>
                        <input class="inp" type="text" placeholder="Cargo" #CargoEmpleado >
                        <br>
                        <button class="btn btn-primary btn-size" (click)="crearComponente(NombreEmpleado.value, ApellidoEmpleado.value, CargoEmpleado.value)">
                            Crear
                        </button>
                        <button class="btn btn-primary btn-size" (click)="cancelarComponente()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
